{% extends "base.html" %}
{% load static %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'schedule:list'%}">Schedule list</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
    </ol>
</nav>
<h3>{{title|title}}</h3>
<hr>
<div class="row">
    <div class="col-sm-12">
        {% for student in instance.studentname_set.all %}
        {{ student.full_name|title }}
        {% endfor %}
    </div>
</div>
{% endblock %}