{% extends 'base.html' %}

{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{%url 'section:list'%}">Section list</a></li>
  </ol>
</nav>
<h3>{{title|title}} | <small class="text-muted"><a href="{%url 'section:add'%}" type="button" class="btn btn-outline-primary btn-sm myTooltip" data-toggle="tooltip" data-placement="right" title="Add student"><i class="far fa-plus-square"></i></a></small></h3>
<hr>
<div class="card-columns">
    {% for sec in sectionlist %}
    <a href="{%url 'section:detail' pk=sec.id%}">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{sec.section_name|upper}} | <small>{{ sec.adviser.get_full_name|title }} Class Adviser</small></h5>
          <p class="card-text">
          </p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
{% endblock %}