{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{%url 'section:list'%}">Section list</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{title|title}}</li>
    </ol>
</nav>
<h3>{{title|title}}</h3>
<hr>
<h4>{{ instance.section_name|upper }} | <small>Class adviser <strong>{{ instance.adviser.get_full_name|title }}</strong></small></h4>
<hr>
{% for ss in instance.subjectschedule_set.all %}
    {{ ss.subject_name|upper }}
{% endfor %}
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Subject name</th>
                    <th>Teacher</th>
                    <th>Room</th>
                    <th>Start time</th>
                    <th>End time</th>
                    <th>Total time</th>
                </tr>
            </thead>
            <tbody>
                {% for ss in instance.subjectschedule_set.all %}
                <tr>
                    <td>{{ ss.subject_name|title }}</td>
                    <td>{{ ss.teacher|title }}</td>
                    <td>room</td>
                    <td>{{ ss.start_time }}</td>
                    <td>{{ ss.end_time }}</td>
                    <td>{{ ss.total_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 offset-4">
        <hr>
        <form action="" class="form" method="POST" enctype="multipart/form-data">{% csrf_token %}
            {{ formset.management_form|crispy }}
            {% for form in formset %}
              {{ form.teacher|as_crispy_field }}
            {% endfor %}
            <hr>
            <input type="submit" class="btn btn-primary btn-sm" value="ADD">
        </form>
    </div>
</div>

{% endblock %}